<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<div class = 'top-wrapper'>
  <div class = 'top-text'>
    <h2>Ferry Books</h2>
    自分で翻訳した洋書の記録をまとめるサイトです。
    <br>誰かに共有せず、単語帳で書き留め、勉強の糧としましょう。
  </div>
</div>