<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>

        <%= link_to t('header.hoom'), root_path, class: 'btn btn-light nav-link' %>   
        <!-- 洋書アイコンとリストアイコン -->
          <%= link_to t('header.books'), books_path, class: 'btn btn-light nav-link' %>        
          <%= link_to t('header.words'), words_path, class: 'btn btn-light nav-link' %>        

        <!-- ログアウトボタン -->
          <%= link_to t('header.logout'), '#', class: 'btn btn-success nav-link bi bi-book-fill' %>        

      </ul>
    </div>
  </nav>
</header>
