    <div id="book-id-<%= book.id %>">
          <h4 class="card-title lead">
          <%= link_to book.title, book_path(book), class: 'link' %>
          </h4>
            <div class='ms-auto'>
              <%= link_to edit_book_path(book), id: "button-edit-#{book.id}", class: 'link' do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to books_path(book), id: "button-delete-#{book.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'link' do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </div>
          <ul class="list-inline">
        </ul>
    </div>
