<div class="col-sm-12 col-lg-4 mb-3">
    <div id="book-id-<%= book.id %>">
          <h4 class="card-title">
          <%= link_to book.title, book_path(book) %>
          </h4>
            <div class='ms-auto'>
              <%= link_to edit_book_path(book), id: "button-edit-#{book.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to books_path(book), id: "button-delete-#{book.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </div>
          <ul class="list-inline">
        </ul>
    </div>
</div>
