<div class="container pt-3">
  <div class="row">
  </div>
  <!-- 本一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @books.present? %>
          <%= render @books %>
        <% else %>
          <div class="mb-3">本がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
