<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<div class="container pt-3">
  <div class="row">
    <%= link_to t('header.create_word'), new_word_path, class: 'btn btn-light nav-link' %>
  </div>
  <!-- 単語一覧 -->
    <% if @words.present? %>
      <%= render @words %>
    <% else %>
      <div class="mb-3">単語がありません</div>
    <% end %>
</div>